<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Verdana;
            background-color: #1c1b1b;
            outline: none;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
        }
        #form{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        #button{
            margin: 2.5vh;
            
            width: 200px;
            height: 40px;
            line-height: 40px;
            font-size: 20px;
            letter-spacing: 5px;
            color: rgb(219, 219, 219);
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            /*background-image: linear-gradient(-45deg, #E91E63, #00BCD4, #E91E63);*/
            background-image: linear-gradient(-45deg, #EE7752, #E73C7E, rgb(37, 176, 194), rgb(24, 160, 126));
            border-radius: 50px;
            transition: all ease 1s;
            background-size: 400% 400%;
            background-position: 0 0;
            animation: change 30s ease-in-out infinite;
            align-self: center;
        
        }
        #button:hover{
            background-image: linear-gradient(-45deg, rgb(182, 90, 62), rgb(170, 43, 92), rgb(26, 131, 145), rgb(21, 131, 103));
        }
        #button:active{
            color: rgb(129, 129, 129);
        }
        @keyframes change{
            0%{
                background-position: 0 50%;  
            }
            50%{
                background-position: 100% 50%;
            }
            100%{
                background-position: 0% 50%;
            }
        }
        
        input{
            border-style: none!important;
            margin: 2vh;
            display: inline-block;
            width: 400px;
            letter-spacing: 5px;
            line-height: 40px;
            font-size: 20px;
            color: rgb(83, 83, 83);
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            /*border-radius: 20px;*/
            border-radius: 50px;
            background-color: #2b2b2b;
            transition: all ease .5s;
        }
        input:hover{
            color: rgb(122, 122, 122);
            background-color: #3a3a3a;
        }
        input:focus{
            color: rgb(122, 122, 122);
            background-color: #3a3a3a;
        }
            </style>
</head>
<body>
    <form name="add" id="form"><br>
        <input placeholder="ID" type="text" id="id" name="id"><br>
        <input placeholder="New Name" type="text" id="name" name="name"><br>
        <input placeholder="New Last Name" type="text" id="lastname" name="lastname"><br>
        <input placeholder="New Email" type="text" id="email" name="email"><br>
        <input type="submit" value="Submit" id="button">
    </form>
</body>
</html>